.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 10vmin;
  pointer-events: none;
  display: inline ;
  position: absolute ;
  left: 2vmin ;
  top: 2vmin ;
}
@keyframes App-logo-spin {
  from {  transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App-body {
  color: white
}
.App-link {
  color: #61dafb;
}
.non_mobile {
  display: inline
}
.non_mobile1 {
  display: inline
}
.anti_mobile {
  display: none
}


@media screen and (max-width: 1100px) {
  .non_mobile {
    display: none
  }
  .non_mobile1 {
    display: none
  }
  .anti_mobile {
  display: none
  }
}


.parentElement {
  /*
  min-height: 20vh;
  max-height: 50vh;
  */
}

.arrow {
  font-size: calc(5px + 4vmin);
  display: inline-block;
}
 .Left {
  transform: rotate(270deg);
  position: absolute;
  left: 20px;
}
.Right {
  transform: rotate(90deg);
  position: absolute;
  right: 20px;
}
.punchline {
  display: none
}
.Left_text {
  transform: rotate(90deg);
  font-size: calc(5px + 2vmin);
}
.Right_text {
  transform: rotate(270deg);
  font-size: calc(5px + 2vmin);
}

.arrow_holder_Left {
  display: inline-block;
  position: absolute;
  left: 15px;
}
.arrow_holder_Right {
  display: inline-block;
  position: absolute;
  right: 15px;
}
.conversation {
  outline-color: white ;
  outline-style: solid ;
  outline-width: medium ;
  width: 40% ;
  margin: auto ;
}
html {
	background-image: url("./vertical3.jpg") ;
}
@media screen and (max-width: 1100px){
  #featured_content_today {
    width: 70% ;
    height: 500px ;
  }
  .conversation {
    width: 70%
  }
}
@media screen and (max-width: 450px){
  #featured_content_today {
    width: 85% ;
    height: 300px ;
  }

}
.content_moving_Right {
  position: relative ;
  animation-name: content_move_right ;
  animation-duration: 0.5s ;
}
.content_moving_Left {
  position: relative ;
  animation-name: content_move_left ;
  animation-duration: 0.5s ;
}
@keyframes content_move_right {
  from {right: 0vmin}
  to {right: 100%}
}
@keyframes content_move_left {
  from {left: 0vmin}
  to {left: 100%}
}
.moving_Right {
  animation-name: move_right ;
  animation-duration: 0.5s ;
  position: absolute ;
  transform: rotate(90deg)
}
@keyframes move_right {
  from  { right: 2vmin ; transform: rotate(0deg) ; opacity: 1}
  to { right: 200vmin ; transform: rotate(270deg) ; opacity: 0}
}
.moving_Left {
  animation-name: move_left ;
  animation-duration: 0.5s ;
  position: absolute ;
  transform: rotate(270deg)
}
@keyframes move_left {
  from  { left: 2vmin ; transform: rotate(0deg) ; opacity: 1}
  to { left: 200vmin ; transform: rotate(270deg) ; opacity: 0}
}
.navbar {
  position: absolute ;
  top: 2vmin ;
  right: 5vmin ;
}
.reply_form {
  display: none
}
