html {
  --main-theme-color: rgb(245, 248, 250) ; /*off-white*/
  --secondary-theme-color: rgb(230, 236, 240) ; /*grey*/
  --secondary-theme-color: rgb(196, 203, 213)  ;/*slightly darker grey*/
  --main-text-color: rgb(20, 23, 26); /*black*/
  --main-text-color: rgb(34, 37, 39) ; /*slightly lighter black*/
  /* I overwrote two theme variables here so I can go back and change them */
  --normally-black: rgb(34, 37, 39) ;
  --main-accent-color: rgb(29, 161, 242) ; /*Twitter Blue */
  --non_mobile-display: inline ;
  --non_mobile1-display: inline ;
  --anti_mobile-display: none ;
  --hotkeys_off-display: none ;
  --hotkeys_on-display: inline ;
  --darkmode_off-display: inline ;
  --darkmode_on-display: none ;
}
.accented_thing {
  color: var(--main-accent-color) ;
}
html, body {
  box-sizing: border-box ;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-theme-color) ;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100% ;
  background-color: var(--secondary-theme-color) ;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 5vmin;
  pointer-events: none;
  display: inline ;
  position: absolute ;
  left: 2vmin ;
  top: 2vmin ;
}
@keyframes App-logo-spin {
  from {  transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.App-header {
  /*
  background-color: #282c34;
  color: white;
  */
  background-color: var(--main-theme-color);
  color: var(--main-text-color);
  border-top: 0.25vh solid var(--secondary-theme-color) ;
  border-bottom: 0.25vh solid var(--secondary-theme-color) ;
  height: 10vh ;
  /*
  min-height: 8vh;
  max-height: 16vh;
  display: flex;
  flex-direction: column;
  */
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  position: fixed;
  width: 100% ;
  top: 0px ;
  opacity: 1 ;
  z-index: 1 ;
}
.App-body {
  color: var(--main-text-color) ;
  background-color: var(--main-theme-color);
  top: 10vh ;
  position: relative ;
  background-color: var(--secondary-theme-color);
  /*z-index: -1 ;*/
}
.App-link {
  color: #61dafb;
}




.non_mobile {
  display: var(--non_mobile-display) ;
}
.non_mobile1 {
  display: var(--non_mobile1-display) ;
}
.anti_mobile {
  display: var(--anti_mobile-display) ;
}
@media screen and (max-width: 1100px) {
  .non_mobile {
    display: none
  }
  .non_mobile1 {
    display: none
  }
  .anti_mobile {
  display: none
  }
}

.conversation {
  background-color: var(--main-theme-color) ;
  outline-color: var(--main-text-color) ;
  outline: 1px solid var(--main-text-color) ;
  width: 40% ;
  margin: 0 auto ;
}

@media screen and (min-width: 750px){
  html {
    /*
    background-image: url("./vertical3.jpg") ;
    */
  }
}
@media screen and (max-width: 750px){
  html {
    /*
    background-image: url("./vertical3small.jpg") ;
    */
  }
}



.reply_form {
  display: none
}
#new_message_form {
    display: none ;
}
#edit_bio_form {
  display: none
}
#new_message_form {
  width: 80% ;
}

.card-media {
  width: 100% ;
  height: 10vh ;
}



#home_featured_div {
  background-color: var(--main-theme-color) ;
  width: 80% ;
  margin: 0 auto ;
  padding-bottom: 2vh ;
}
#featured_content_today {
  border: 2px solid black ;
}
#featured_content_text, #about_tomaz_text {
  margin: 0 auto ;
  width: 600px ;
}
.main_page_content {
  top: 30vh ;
  width: 90% ;
  margin: 0 auto ;
  background-color: var(--secondary-theme-color) ;
  color: var(--main-text-color) ;
  /*background-image: none ;*/
}

@media screen and (max-width: 1100px){
  #featured_content_today {
    width: 70% ;
    height: 500px ;
  }
  #featured_content_text, #about_tomaz_text {
    width: 70% ;
  }
  .conversation {
    width: 70% ;
  }
}

@media screen and (max-width: 450px){
  #featured_content_today {
    width: 85% ;
    height: 300px ;
  }
  #featured_content_text, #about_tomaz, #about_tomaz_text {
    width: 85% ;
  }
}
#about_tomaz {
  background-color: var(--main-theme-color) ;
  margin: 0 auto ;
  width: 80% ;
}
.narrow_form {
  /*width: 60% ;*/
}
.num_input {
  float: right ;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
.message_got, .message_sent {
  width: 60% ;
  text-align: left ;
  position: relative ;
  word-wrap: break-word ;
}
.message_sent {
  background-color: var(--main-accent-color) ;
  left: 40% ;
}
.message_got {
  background-color: rgb(233, 235, 239) ;
  color: rgb(20, 23, 26)
}
button {
  color: var(--normally-black)
}
.react-numeric-input {
  color: var(--normally-black)
}
