.color_span {
  overflow: hidden ;
  width: 35vw ;
  height: 35vw ;
  display: inline-block ;
  margin: 2vmin ;
}
.color_name {
  top: 1vw ;
  position: relative ;
}
.contrast {
  position: relative ;
  bottom: 2vw ;
  font-size: 3.5vw ;
  height: 2vw ;
}
.black_bar, .white_bar {
  height: 2vw ;
  position: relative ;
  right: 10vw ;
  width: 200% ;
  top: 3vw ;
}
.black_bar {
  background-color: var(--main-text-color) ;
  transform: rotate(-30deg);
}
.white_bar {
  background-color: var(--main-theme-color) ;
  transform: rotate(20deg);
}
.contrast_1, .contrast_3 {
  width: 13vw ;
}
.contrast_3, .contrast_4{
}
.contrast_2, .contrast_4 {

}

.rgb_text {
  position: relative ;
  bottom: 2vw ;
}
.flip_card_icon {
  position: relative ;
}
.add_card_icon {
  position: absolute ;
  top: 0.5vw ;
  right: 0.5vw ;
}
.flip_card_icon, .add_card_icon, .palette_card_icon {
  color: var(--main-theme-color) ;
  text-shadow:
 -1px -1px 0 var(--main-text-color),
  1px -1px 0 var(--main-text-color),
  -1px 1px 0 var(--main-text-color),
   1px 1px 0 var(--main-text-color);
}
.card_menu {
  position: absolute ;
  right: 1.5vw ;
  top: 1.5vw ;
}
.react-card-flip, .react-card-front, .react-card-back {
  display: inline-block ;
}
.palette_card_menu {
  position: relative ;
  bottom: 10vw;
  left: 13vw ;
}
@media screen and (max-width: 350px){
  .black_bar, .white_bar {
    top: 5vw ;
  }
  .flip_card_icon {
    position: absolute ;
    bottom: 2vw ;
  }
}
@media screen and (min-width: 600px){
  .color_span {
    width: 25vw ;
    height: 25vw ;
    margin: 2vmin ;
  }
  .color_name {
    font-size: 3vw !important ;
  }
  .rgb_text {
    font-size: 2.5vw ;
    bottom: 0vw ;
  }
  .contrast {
    font-size: 2.5vw ;
      bottom: 0vw ;
  }
  .flip_card_icon {
    top: 1vw ;
    margin: 0 auto ;
  }
  .black_bar, .white_bar {
    height: 2vw ;
    top: 6vw ;
    right: 7vw ;
  }
  .black_bar {
  }
  .white_bar {
  }
  .palette_card_menu {
    bottom: 4.5vw ;
    left: 9vw ;
  }
}
@media screen and (min-width: 1200px){
  .color_span {
    width: 20vw ;
    height: 20vw ;
    margin: 2vmin ;
  }
  .color_name {
    font-size: 3vw !important ;
  }
  .rgb_text {
    font-size: 2.0vw ;
    bottom: 0vw ;
  }
  .contrast {
    font-size: 2.0vw ;
  }
  .contrast_1, .contrast_2 {
    top: 1vw ;
  }
  .contrast_3, .contrast_4 {
    top: 2vw ;
  }
  .black_bar, .white_bar {
    height: 2vw ;
    top: 4vw ;
    right: 5vw ;
  }
  .black_bar {
  }
  .white_bar {
  }
  .card_menu {
    top: 0.8vw ;
    right: 0.8vw ;
  }
  .flip_card_icon {
    top: 3vw ;
    margin: 0 auto ;
  }
}
.special_menu_input {
  width: 100%
}
