.color_span {
  width: 22vh ;
  height: 22vh ;
  display: inline-block ;
  margin: 2vh ;
}
.contrast_1 {
  position: relative ;
  right: 3px ;
}
.contrast_2 {
  position: relative ;
  left: 3px ;
}
.rgb_text {
  position: relative ;
  bottom: 2vh ;
}
