@media screen and (max-width: 350px){
  .navlink {
    font-size: small;
    width: 50px !important;
    padding: 3px !important ;
    margin: 0px 2px 2px !important ;
  }
}
@media screen and (max-width: 450px){
  .navlink {
    font-size: small;
    width: 50px !important;
    padding: 6px !important ;
    margin: 0px 3px 3px !important ;
  }
}
.arrow_Left_text {
  font-size: calc(2px + 2vmin);
  position: fixed ;
  top: 16vh ;
  z-index: 2 !important ;
  left: 7vh ;
}
.arrow_Right_text {
  font-size: calc(2px + 2vmin);
  position: fixed ;
  top: 16vh ;
  z-index: 2 !important ;
  right: 7vh ;
}
.arrow_holder_Left {
  display: inline-block;
  position: fixed;
  left: 15px;
  z-index: 2 !important ;
  width: 15vh ;
}
.arrow_holder_Right {
  display: inline-block;
  position: fixed;
  right: 15px;
  z-index: 2 !important ;
  width: 15vh ;
}
.arrow {
  font-size: calc(5px + 4vmin);
  /*display: inline-block; */
  position: fixed ;
  color: white ;
  top: 15vh ;
  z-index: 2 !important ;
}
 .Left {
  position: fixed;
  left: 20px;
  z-index: 2 !important ;

}
.Right {
  position: fixed;
  right: 20px;
  z-index: 2 !important ;
}

.content_moving_Right {
  position: relative ;
  animation-name: content_move_right ;
  animation-duration: 0.5s ;
}
.content_moving_Left {
  position: relative ;
  animation-name: content_move_left ;
  animation-duration: 0.5s ;
}
@keyframes content_move_right {
  from {right: 0vmin}
  to {right: 100%}
}
@keyframes content_move_left {
  from {left: 0vmin}
  to {left: 100%}
}
.moving_Right {
  animation-name: move_right ;
  animation-duration: 0.5s ;
  position: fixed ;
  top: 15vh ;
}
@keyframes move_right {
  from {
    right: 2vmin ;
    opacity: 1
  }
  to {
    right: 200vmin ;
    opacity: 0
  }
}
.moving_Left {
  animation-name: move_left ;
  animation-duration: 0.5s ;
  position: fixed ;
  top: 15vh ;
}
@keyframes move_left {
  from  {
    left: 2vmin ;
    opacity: 1
  }
  to {
    left: 200vmin ;
    opacity: 0
  }
}
.navbar {
  position: fixed ;
  top: 2vmin ;
  right: 5vmin ;
  z-index: 4 ;
}
.navlink {
  z-index: 4 !important ;
} 
