
.arrow_Left_text {
  font-size: calc(2px + 1.5vmin);
  position: fixed ;
  z-index: 2 !important ;
}
.arrow_Right_text {
  font-size: calc(2px + 1.5vmin);
  position: fixed ;
  z-index: 2 !important ;
}
.arrow_holder_Left {
  display: inline-block;
  position: fixed;
  z-index: 2 !important ;
  left: 1vw ;
  color: var(--main-accent-color)
}
.arrow_holder_Right {
  display: inline-block;
  position: fixed;
  z-index: 2 !important ;
  right: 5vw ;
  color: var(--main-accent-color)
}
.arrow {
  font-size: calc(5px + 3vmin);
  /*display: inline-block; */
  position: fixed ;
  z-index: 2 !important ;
}
 .Left {
  position: fixed;
  z-index: 2 !important ;

}
.Right {
  position: fixed;
  z-index: 2 !important ;
}

.content_moving_Right {
  position: relative ;
  animation-name: content_move_right ;
  animation-duration: 0.5s ;
}
.content_moving_Left {
  position: relative ;
  animation-name: content_move_left ;
  animation-duration: 0.5s ;
}
@keyframes content_move_right {
  from {right: 0vmin}
  to {right: 100%}
}
@keyframes content_move_left {
  from {left: 0vmin}
  to {left: 100%}
}
.moving_Right {
  animation-name: move_right ;
  animation-duration: 0.5s ;
  position: fixed ;
  top: 15vh ;
}
@keyframes move_right {
  from {
    right: 2vmin ;
    opacity: 1
  }
  to {
    right: 200vmin ;
    opacity: 0
  }
}
.moving_Left {
  animation-name: move_left ;
  animation-duration: 0.5s ;
  position: fixed ;
  top: 15vh ;
}
@keyframes move_left {
  from  {
    left: 2vmin ;
    opacity: 1
  }
  to {
    left: 200vmin ;
    opacity: 0
  }
}
.navbar {
  position: fixed ;
  top: 2vmin ;
  left: 8vmin ;
  z-index: 4 ;

}
.navlink {
  position: relative ;
  z-index: 4 !important ;
  color: var(--main-text-color) ;
  width: 100px ;
  padding: 12px ;
  margin: 0 6px 6px ;
  font-size: 2vmin ;
  text-decoration: none ;
}

.navlink::before, .navlink_expand::before {
  content: '';
  position: absolute ;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-accent-color);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navlink:hover::before, .navlink_expand:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
.navlink:hover, .navlink_expand:hover {
  text-decoration: none ;
  --normally-black: var(--main-accent-color);
}
.navlink_icon {
  position: relative ;
  top: 0.8vmin ;
  padding-right: 0.25vmin ;
  color: var(--main-text-color) ;
}
.navlink_icon_expand {
  position: relative ;
  top: 0.8vmin ;
  padding-right: 0.25vmin ;
  color: var(--normally-black) ;
}
.navlink.active, .navlink_expand.active {
  text-decoration: none ;
  color: var(--main-accent-color) !important;
}
.navlink_expand.active .navlink_icon_expand, .navlink_expand.active .navlink_text_expand {
  color: var(--main-accent-color) ;
}
.navlink.active::before, .navlink_expand.active::before {
  content: '';
  position: absolute ;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-accent-color);
  transform: none ;
  transition: none ;
  left: 0% ;
}

.navlink.active .navlink_icon {
  color: var(--main-accent-color) !important;
}
.navlink_expand, .navlink_icon_expand {
  /*
  color: rgb(20, 23, 26) ;
  always black because the backdrop is always white
  color: var(--main-text-color)
  */
}
span.navlink_text_expand {
  text-decoration: none ;
  color: var(--normally-black) ;
}
#navlink_places, #navlink_color, #navlink_joke, #navlink_register, #navlink_login {
  text-decoration: none !important;
}
.navlink_expand.active {
  color: var(--main-accent-color) ;
}
.active > div > .navlink_text_expand, .active > div > .navlink_icon_expand {
  color: var(--main-accent-color) !important ;
}
.active > li > div > .navlink_text_expand, .active > li > div > .navlink_icon_expand{
  color: var(--main-accent-color) !important ;
}
@media screen and (max-width: 1200px){
  .navlink {
    font-size: small;
    width: 75px !important;
    padding: 6px !important ;
    margin: 0px 3px 3px !important ;
  }
  .arrow_holder_Right {
    right: 10vw ;
  }
}
@media screen and (max-width: 450px){
  .navlink {
    font-size: small;
    width: 50px !important;
    padding: 4px !important ;
    margin: 0px 3px 3px !important ;
  }
  .material-icons {
    font-size: 18px ;
  }
  .arrow_holder_Right {
    right: 10vw ;
  }
}
@media screen and (max-width: 350px){
  .navlink {
    font-size: small;
    width: 50px !important;
    padding: 3px !important ;
    margin: 0px 2px 2px !important ;
  }
}
.hotkeys_off {
  display: var(--hotkeys_off-display)
}
.hotkeys_on {
  display: var(--hotkeys_on-display)
}
.darkmode_off {
  display: var(--darkmode_off-display) ;
}
.darkmode_on {
  display: var(--darkmode_on-display) ;
}

.expand_menu_button {
  color: var(--main-text-color)
}
a:hover > li > span.navlink_text_expand {
  text-decoration: none !important ;
}
