<!DOCTYPE html>
<html>
  <head>
    <title>Regular2</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script> console.log("thing under jquery loaded") </script>
  </head>

  <body>




   <div class="main-content">
		<div class="container">
			<%= yield %>
		</div>
	</div>





  </body>
</html>
